{% extends 'base.html.twig' %}

{% block body %}
    <h1>Index cat generator</h1>

    {% for url in image_url %}
        <div>
            <img src="{{ url }}" alt="Image {{ loop.index }}"/>
        </div>
    {% else %}
        <h2>No url found</h2>
    {% endfor %}
{% endblock %}